*{
    padding: 0px;
    margin: 0px;


}

.header{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

  ul{
     display: flex;
     gap: 25px;
    list-style-type: none;
     
 }

 .body-sun{
     display: flex;
     justify-content: space-around;
     padding-top: 200px;
     background-color: #1f2937;
     
     
 }


 h2{
     text-align: center;
     padding-top: 80px;
     font-weight: 400px;
     font-size: 40px;
 }

 .cards{
     display: flex;
     text-align: center;
     gap: 30px;
     justify-content: space-around;
     width: 700px;
     margin-left: 400px;
     font-size: 18px;
     padding-top: 50px;
 }

 .card{
     border: 2px solid blue;
     border-radius: 20px;
     height: 150px;
     
 }

 .button1{
     color: white;
     background-color: blue;
     padding: 15px;
     border-radius: 10px;
     width: 150px;
 }

 .second-para{
     display: flex;
     justify-content: center;
     background-color: #E5E7EB;
     align-items: center;
     height: 400px;
 }

 .quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
 }

 .left-para{
     font-size: 30px;
 }

 

 .call{
     display: flex;
     justify-content: center;
     height: 250px;
      align-items: center;  
 }

 .main-call{
     background-color: #3882f6;
     display: flex;
     justify-content:space-around;
     height: 100px;
     width:800px ;
     border-radius: 5px;
     color: #f9fAf8;
     align-items: center;
     

 }

  h4{
     font-size: 24px;
 } 

  .button2{
    color: white;
    border-radius: 5px;
    width: 150px;
    background-color:#3882f6 ;
    border: 2px #f9fAf8 solid;
    width: 150px;
    height: 40px;
    font-size: larger;

 } 

 .footer{
     text-align: center;
     color: whitesmoke;
     background-color: #1f2937;
     padding-top: 80px;
     
 }

 .body-left{
     color: whitesmoke
 }

 .body-right{
     color: whitesmoke;
     background-color: darkgrey;
     width: 500px;
     text-align: center;
     padding-top: 100px;
 }

 .header{
    background-color: #1f2937;
    color: whitesmoke;

 }

 